<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Employee</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4" >
      <h1><%= employee.fullName %></h1>
      <img src="<%= employee.coverImageURL %>" width="700px" />
      <pre class="mt-3">
        Name :- <%= employee.Name %>
        Contact Number :- <%= employee.ContactNumber %>
        Addharcard Number:- <%= employee.AddharcardNumber %>
        Address :- <%= employee.Address %>
        PANcard Number:- <%= employee.PANcard %>
        Role:- <%= employee.Role %>
        Experience:- <%= employee.Experience %>
      </pre>
    </div>

    <div class="container mt-4">
      <img src="<%= employee.createdBy.profileImageURL %>" width="50px" /> <%=
      employee.createdBy.fullName %>
    </div>

   
    <%- include('./partials/script') %>
  </body>
</html>
